  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body { margin: 0; }
  
  main { display: block; }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    --webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0;
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }





@font-face {
    src: url('../font/OpenSans-Regular.ttf');
    font-family: 'OpenSans Regular'; 
}
@font-face {
    src: url('../font/OpenSans-Bold.ttf');
    font-family: 'OpenSans Bold'; 
}
@font-face {
    src: url('../font/OpenSans-ExtraBold.ttf') ;
    font-family: 'OpenSans ExtraBold'; 
}
@font-face {
    src: url('../font/OpenSans-Italic.ttf') ;
    font-family: 'OpenSans Italic'; 
}


/* BODY */

* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
    background-color: transparent;
}

.container { max-width: 1249px; }

/* HEADER */

.header {
    background-color: #F6F2F2;
    padding:1.8125em;
}

.header > nav {
    height: 89px;
    background-color: black;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.menu > li { padding: 35px; }

.menu > li:hover { background-color: rgb(255, 0, 0); }

.menu > li > a {
    text-transform: uppercase;
    font-size: 0.875em;
    font-family: 'OpenSans Bold',Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

/* MAIN */

main { flex: 1 1 auto; }

/* TOP */ 

.top {
    background-color: #F6F2F2;
    width: 100%;
}

.top > div {
    padding: 103px 29px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top > div > div { max-width: 620px; }

.top > div > div > h1 {
    font-size: 3.75em;
    margin: -0.2em 0;
    text-transform: uppercase;
    font-family: 'OpenSans ExtraBold', Helvetica,Arial, sans-serif ;
}

.top > div > div > h1 > span {
    letter-spacing: 0.125em;
}

.top > div > div > h6 {
    line-height: 1.68em;
    padding:2.2825em 0;
    font-size: 0.999em;
    font-family: 'OpenSans Regular', Helvetica,Arial, sans-serif;
}

.top > div > div > a {
    background-color: #FF2D2D;
    width: 14.18em;
    height: 3.43em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    font-family: 'OpenSans Bold', Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
} 

.top > div > img  {
    width: 550.88px;
    height: 354px;
    box-shadow: 0.125em 0.125em 1.875em #3e3c3c;
}   

/* SUB */

.sub {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 516px;
    margin: 0 auto;
    padding:0 29px;
}

.sub > div > div > h2 {
    font-family: 'OpenSans Bold', Helvetica,Arial, sans-serif ;
    font-size: 42px;
    color: #ECECEC;
    text-align: center;
}

.sub > div > div > p {
    padding-top: 16px;
    font-size: 16px;
    color: #F6F2F2;
    text-align: center;
    font-family: 'OpenSans Regular',Helvetica, Arial, sans-serif;
}

.sub > div > div > form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
}


.sub > div > div > form > input {
    font-size: 1em; 
    border-radius: 0.3em;
    padding: 0 2em;
    width: 73%;
    max-width: 524px;
    height: 80px;
}

.sub > div > div > form > button {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    width: 30%; 
    max-width: 217px; 
    height: 85px;
    font-size: 1em; 
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'OpenSans Bold', Helvetica, Arial, sans-serif;
    border-radius: 0.3em;
}


/* SENDING */

.sending {
    padding: 50px 29px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sending__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sending__item > h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'OpenSans Bold',Helvetica, Arial, sans-serif;
}

.sending__item > p {
    margin-top: 45px;
    font-size: 16px;
    max-width: 752.854px;
    height: 73px;
    font-family: 'OpenSans Regular',Helvetica, Arial, sans-serif;
}

.sending__item > hr {
    margin-top: 58px;
    background-color: #FF2D2D;
    width: 134px;
    height: 5px;
}

.sending__user {
    display: flex;
    justify-content:space-between;
    margin-top: 73px;
}

.sending__user > form {
    display: flex;
    justify-content: center;
    max-width: 756px;
    flex-wrap: wrap;
}

.sendin__user > form > input, input, textarea {
    font-family: 'OpenSans Regular',Helvetica,Arial, sans-serif;
    background-color:#e9e8e8;
    color: #000000;
    border-radius: 0.6em;
    width: 322px;
    height: 71px;
    font-size: 18px;
    padding: 0 20px;
}

.sending__user > form > input, input { margin-left: 19px; }

.sending__user > form > .user__name { margin-left: 0px; }

.sending__user > form > textarea {
    width: 710px;
    height: 252px;
    font-size: 20px;
    margin-top: 20px;
    padding-top: 20px;
}   

.sending__user > form > button {
    font-size: 18px;
    margin-top: 43px;
    color: #ffffff;
    background-color: #FF3B3B;
    border-radius: 0.6em;
    width: 753px;
    height: 75px;
    text-transform: uppercase;
    font-family: 'OpenSans Bold',Helvetica,Arial, sans-serif;
}

.sending__contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 75px;
    color: #F6F2F2;
    background-color: #000000;
    width: 100%;
    margin-left: 70px;
    gap: 20px;
}

.sending__contact > h3{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'OpenSans Bold',Helvetica,Arial, sans-serif;
}

.sending__contact > p {
    font-size: 16px;
    font-family: 'OpenSans Regular',Helvetica,Arial, sans-serif;
}


/* FOOTER */

.footer {
    background-color: #000000;
    width: 100%;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 29px;
    margin: 0 auto;
}

.footer__inner > h2 {
    color: #B8B8B8;
    font-size: 16px;
}

.footer__inner > h2::before {
    content:'\00A9';
    padding:0 10px 0 0;
}

.footer__inner > div > a > img {
    width: 33px;
    height: 33px;
    padding-left: 18px;
}

/* MEDIA */

@media (max-width: 1228px) {

    .top > div {
        justify-content: center;
        gap: 39px;
    }

    .top > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sending__item {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .sending__user {
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px
    }

    .sending__item > p { 
        text-align: center;
        margin-top: 28px; 
    }

    .sending__item > hr { margin-top: 10px; }

    .sending__contact {
        margin-left: 0;
        text-align: center;
        padding: 16px 75px
    }
}

@media (max-width: 908px) {

    .sub > div > div > h2 { font-size: 33px; }

    .sub > div > div > p { padding-top: 13px; }

    .sub > div > div > form { gap: 20px; }
}

@media (max-width: 810px) {

    .sending__item {
        text-align: center;
        align-items: center;
    }

    .sending__user > form > input, input { width: 254px; }

    .sending__user > form > textarea { width: 576px; }

    .sending__user > form { max-width: 620px; }

    .sending__user > form > button { width: 621px; }
}

@media (max-width: 680px) {

    .header{ padding: 10px 5px; }

    .header > nav { height: 70px; }

    .menu > li{ padding: 25.8px 22px; }

    .menu > li > a { font-size: 10px; }

    .top > div { padding: 80px 5px; }

    .top > div > div { max-width: 510px; }

    .top > div > div > h1 { font-size: 38px; }

    .top > div > div > h6 { font-size: 13px; }

    .top > div > div > a {
        width: 12.18em;
        height: 2.8em;
    }

    .top > div > img{
        width: 60%;
        height: 60%;
    }

    .sending { padding: 50px 5px; }

    .sending__item { 
        max-width: 500px;
        margin: 0 auto;
    }

    .sending__item > h2 { font-size: 33px; }

    .sending__item > p {
        font-size: 13px;
        margin-top: 15px;
    }

    .sending__item > hr { margin-top: 30px; }

    .sending__user > form > input, input {
        width: 145px;
        height: 50px;
    }
    .sending__user > form > textarea {
        width: 358px;
        height: 180px;
    }

    .sending__user > form { max-width: 400px; }

    .sending__user > form > button { width: 400px; }

    .sending__contact > p { font-size: 13px; }

    .footer__inner { padding: 38px 5px; }

    .footer__inner > h2 { font-size: 11px;}

    .footer__inner > div > a > img {
        padding: 0 2px;
        width: 20px;
        height: 20px;
    }

    .footer__inner > h2::before { font-size: 12px; }

}

@media (max-width: 420px) {

    .menu > li { padding: 25.8px 13px; }

    .menu > li > a { font-size: 9px; }

    .top > div { padding: 37px 5px; }

    .top > div > div { max-width: 336px; }

    .top > div > div > h1 { font-size: 25px; }

    .top > div > div > h6 { font-size: 11px; }
    
    .top > div > div > a {
        width: 7.18em;
        height: 2em;
    }

    .top > div > img { width: 80%; }

    .sub { height: 410px;}

    .sub > div > div > form { padding-top: 10px; }

    .sub > div > div > h2 { font-size: 20px; }

    .sub > div > div > p {  font-size: 11px; }

    .sub > div > div > form > input {
        height: 50px;
        width: 80%;
    }

    .sub > div > div > form > button {
        height: 45px;
        font-size: 0.7em;
    }

    .sending__item { max-width: 371px; }

    .sending__item > p { font-size: 11px;}

    .sending__user { margin-top: 40px; }

    .sending__user > form { max-width: 320px; }

    .sending__user > form > input, input {
        width: 105px;
        height: 50px;
    }

    .sending__user > form > textarea {
        width: 277px;
        height: 131px;
    }

    .sending__user > form > button {
        width: 321px;
        height: 47px;
        font-size: 13px;
        margin-top: 15px;
    }

    .footer__inner > div { display: flex; }

    .footer__inner > div > a > img {
        width: 20px;
        height: 20px;
    }
}

